/* styles.css */

/* Custom CSS for Navigation Bar */
.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #ff9900;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .navbar-toggler {
    border-color: #fff;
  }
}


.skill-list {
    list-style: none;
    padding: 0;
  }
  
  .skill-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    font-size: 16px;
  }
  
  .skill-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #FF5733; /* Choose a color you like */
  }
