<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Mohamed Hajith.M</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"  routerLink="/" style="color: rgb(0, 0, 0); font-weight: bold;">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/about" >About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Skills</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>    

   <!-- Portfolio Section -->
   <section id="portfolio" class="py-1 bg-light">
    <div class="container">
        <h2 class="text-center" style="color: rgb(93, 93, 93);" >Projects using - <span style="color: darkblue;" >FIGMA</span></h2>

      <div class="row">



        <!-- Figma Project 1 -->
        <div class="col-md-4">
          <a href="{{ projectLink_1 }}" style="text-decoration: none;">
            <div class="portfolio-item">
                <b><p style="text-decoration: underline;" >#1</p></b>

              <img src="assets\Figma-prjet-img\image-1.jpeg" alt="Project 1" class="fixed-image" href>
              <h4>Prompt: <span style="font-family: 'Times New Roman', Times, serif; font-weight: bold;" >Sign Up</span></h4>

              <h5>Create a sign up page, modal, form, or app screen related to signing up for something. It could be for a volunteer event, contest registration, a giveaway, or anything you can image.</h5>

            <b><p>Click me!</p></b>
            <p>to view the <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  font-weight: 600; color: rgb(176, 0, 129);" ><br>Design images, <br>Prototypes, <br>Working model videos</span></p>

            </div>
          </a>
        </div>

         <!-- Figma Project 2 -->
         <div class="col-md-4">
            <a href="{{ projectLink_2 }}" style="text-decoration: none;">
              <div class="portfolio-item">
                  <b><p style="text-decoration: underline;" >#2</p></b>
  
                <img src="assets\Figma-prjet-img\image-2.jpeg" alt="Project 1" class="fixed-image" href>
                <h4>Prompt: <span style="font-family: 'Times New Roman', Times, serif; font-weight: bold;" >Credit Card Checkout</span></h4>
  
                <h5>Design a credit card checkout form or page. Don't forget the important elements such as the numbers, dates, security numbers, etc.</h5>
  
              <b><p>Click me!</p></b>
              <p>to view the <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  font-weight: 600; color: rgb(176, 0, 129);" ><br>Design images, <br>Prototypes, <br>Working model videos</span></p>
  
              </div>
            </a>
          </div>
        
        
        
      
        
        <!-- Add more portfolio items as needed -->
      </div>
    </div>
  </section>
